<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>About Stepan</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <header>
      <h1>About stepan</h1>
    </header>
    <section>
      <p>
        Stepan became an online figure in 2021, both on instagram and tiktok.
        His videos usually consist of Stepan having some drinks, while sitting
        with his blasé look, contemplating life
      </p>
    </section>
    <section>
      <p>
        While some might say Stepan became famous because, well, all cats on the
        internet are instantly famous, some may argue that his fame come from
        his expression. You can never tell if Stepan is happy, sad, judgemental,
        empathetic or all of those together. That alone makes Stepan an
        extremely relatable character
      </p>
    </section>

    <section>
      <p>
        In 2022, russia has declared war in Ukraine, Stepan's home country.
        Since then, Stepan has used his online presence to raise awarness about
        the war and the state of Ukranian people during the war. We are all
        praying for Stepan's and all Ukranians safety and to be free from the
        war as soon as possible.
      </p>
    </section>
  </body>
</html>
