<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Tribute to Stepan, the Cat</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <header class="home-header">
      <h1>Tribute to Stepan, the Cat</h1>
      <img src="images/stepan_home_1.jpeg" alt="Photo of Stepan" />
      <p>
        This page is a tribute to the world's favorite Ukranian cat, Stepan.
      </p>

      <p>
        Stepan is currently going through a rough time during the russian
        invasion in Ukraine and this page is a tribute to this beautiful
        creature who loves himself some wine, dislikes interactions and enjoys
        old traditional Ukrainian music under party globes.
      </p>
    </header>
  </body>
</html>
